__pycache__/
*.py[cod]
.venv

# Only .env.example is tracked
*.env
.env.*
!.env.example

# Default artifacts names
bot_data.pickle
log.log

# Only default config.yaml is tracked
*config.yaml
!config.yaml
